# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Go workspace file
go.work

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Project specific
/ethgen
/example/ethgen
/artifacts/
/bindings/